<header class="top-page-header">
  <div class="app-name">
  <%= link_to root_path, class: "title-header" do %>
    <h2>Food Check</h2>
  <% end %>
  </div>
  <div class="categories">
    <ul class="lists">
      <li>Check myselfへ</li>
      <li>カテゴリー</li>
      <% if user_signed_in? %>
        <li class="userName"><%= current_user.nickname %>さん</li>
        <li><%= link_to 'ログアウト' , destroy_user_session_path, method: :delete, class: "userList" %></li>
      <% else %>
        <li><%= link_to '新規登録' , new_user_registration_path, class: "userList" %></li>
        <li><%= link_to 'ログイン' , new_user_session_path, class: "userList" %></li>
      <% end %>
    </ul>
  </div>
</header>