<%= render "shared/header"%>


<%= form_with(url: search_foods_path, class: "search-form", local: true, method: :get) do |f| %>
  <%= f.text_field :keyword, placeholder: "調べたい食材を入力してください", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>

<p class="title">食材一覧</p>

<div class="food-contents">
  <ul class="food-lists">
    <% @foods.each do |food| %>
    <%= link_to food_path(food.id), class: "food-link" do %>
      <div class="food-info">
      <%= image_tag food.image, class: "food-img" %>
      <div class="contents">
      <h3 class="food-name">
        <%= food.name %>
      </h3>
      <p class="info"><%= food.calorie %>kcal</p>
      <p class="info">たんぱく質:<%= food.protein %>g</p>
      <p class="info">脂質:<%= food.fat %>g</p>
      <p class="info">炭水化物:<%= food.carbohydrate %>g</p>
      </div>
      </div>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="page-nate">
<%= paginate @foods %>
</div>


<%= render "shared/footer"%>