<%= render "shared/header"%>


<%= form_with(url: search_foods_path, class: "search-form", local: true, method: :get) do |f| %>
  <%= f.text_field :keyword, placeholder: "調べたい食材を入力してください", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>

<% if @foods.presence %>
  <%= link_to "トップページへ" ,root_path %>
<% end %>

<p class="title">検索結果</p>

<% unless @foods.blank? %>
<div class="food-contents">
  <ul class="food-lists">
    <% @foods.each do |food| %>
      <div class="food-info">
      <%= image_tag food.image, class: "food-img" %>
      <div class="contents">
      <h3 class="food-name">
        <%= food.name %>
      </h3>
      <p class="info"><%= food.calorie %>kcal</p>
      <p class="info">たんぱく質:<%= food.protein %>g</p>
      <p class="info">脂質:<%= food.fat %>g</p>
      <p class="info">炭水化物:<%= food.carbohydrate %>g</p>
      </div>
      </div>
    <% end %>
  </ul>
</div>
<% else %>
<div class="no-hit">
  <p>検索した食材はありません。</p>
  <p>ひらがなやカタカナ検索もお試しください。</p>
  <p>空欄で検索している場合もございます。</p>
  <%= link_to "トップページへ" ,root_path %>
</div>
<% end %>




