<%= render "shared/header"%>

<div class="food-contents">
  <ul class="food-lists">
      <div class="food-info">
      <%= image_tag @food.image, class: "food-img" %>
      <div class="contents">
      <h3 class="food-name">
        <%= @food.name %>
      </h3>
      <p class="info"><%= @food.calorie %>kcal</p>
      <p class="info">たんぱく質:<%= @food.protein %>g</p>
      <p class="info">脂質:<%= @food.fat %>g</p>
      <p class="info">炭水化物:<%= @food.carbohydrate %>g</p>
      </div>
      </div>
  </ul>
</div>


<% if user_signed_in? && current_user.admin? %>
  <div class="buttons">
    <div class="button">
      <%= link_to "新規投稿", new_food_path %>
    </div>
    <div class="button">
      <%= link_to "編集", edit_food_path(@food.id), method: :get %>
    </div>
    <div class="button">
      <%= link_to "削除", food_path, method: :delete %>
    </div>
    <div class="button">
      <%= link_to "トップへ戻る", root_path, class: "backtop" %>
    </div>
  </div>
<% end %>